* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cont_pag {
  width: 100vw;
}

.cabecera {
  background-color: #faf255;
  height: 70px;
  text-align: center;
  position: sticky;
  top: 0px;
  z-index: 2;
}

.cabecera h1 {
  margin: 0;
  font-size: 2rem;
  padding: 15px;
}

.cont_Robot {
  position: relative;
  height: 900px;
  width: 700px;
  margin: 70px auto;
  background-color: white;
  border: 1px solid black;
  padding: 30px;
}

.Cabeza {
  position: relative;
  display: inline-block;
  width: 27%;
  height: 185px;
  border: 1px solid rgb(21 20 20);
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background-color: #7bcef0;
  box-shadow: inset 0 0 18px 2px #03464647;
  margin: auto 0;
  overflow: hidden;
  border-radius: 25%;
  top: 0.3%;
}

.cont_ojos {
  width: 80%;
  /* margin: auto 0; */
  /*   position: relative; */
  display: inline-block;
  overflow: hidden;
  z-index: 3;
}
.ojo_izq {
  left: 25%;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%);
  width: 30%;
  text-align: center;
}

.ojo_derech {
  left: 75%;
  border: 1px solid black;
  border-radius: 100%;
  position: absolute;
  transform: translate(-50%);
  width: 30%;
  text-align: center;
}

.img_ojo {
  width: 100%;
  opacity: 85%;
}
.img_boca {
  width: 100%;
  opacity: 70%;
}
.cont_boca {
  width: 100%;
  bottom: 0;
  position: absolute;
}

/* Cuerpo */

.cont_cuerpo {
  display: inline-block;
  position: relative;
  margin: auto 0;
  width: 100%;
  /* overflow: inherit; */
  height: 391px;
}

.brazo_izq {
  display: inline-block;
  position: absolute;
  border: 1px solid black;
  width: 16%;
  height: 260px;
  border: 1px solid black;
  text-align: center;
  background-color: #7bcef0;
  box-shadow: inset 0 0 18px 2px #1093a2;
  overflow: auto;
  border-radius: 35px 0px 68px 22px;
  left: 8.8%;
}
.brazo_derech {
  display: inline-block;
  position: absolute;
  border: 1px solid black;
  width: 16%;
  height: 260px;
  border: 1px solid black;
  text-align: center;
  background-color: #7bcef0;
  box-shadow: inset 0 0 18px 2px #1093a2;
  overflow: auto;
  left: 75.4%;
  border-radius: 0px 35px 22px 68px;
}

.Cuerpo {
  position: absolute;
  width: 49%;
  height: 391px;
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  background-color: #7bcef0;
  box-shadow: inset 0 0 18px 2px #1093a2;
  overflow: auto;
  left: 50%;
  transform: translate(-50%);
  border-radius: 9px;
}
.piern_izq {
  display: inline-block;
  border: 1px solid black;
  background-color: #7bcef0;
  box-shadow: inset -1px -20px 18px 2px #1093a2;
  margin: auto 0;
  overflow: hidden;
  height: 280px;
  width: 15%;
  left: 40%;
  position: absolute;
  bottom: 7px;
  transform: translate(-50%);
  border-radius: 0 0% 30% 30%;
  text-align: center;
}
.piern_derech {
  display: inline-block;
  border: 1px solid black;
  background-color: #7bcef0;
  box-shadow: inset -1px -20px 18px 2px #1093a2;
  margin: auto 0;
  overflow: hidden;
  height: 280px;
  width: 15%;
  left: 60%;
  position: absolute;
  bottom: 7px;
  transform: translate(-50%);
  border-radius: 0 0% 30% 30%;
  text-align: center;
}

.piern_derech :hover {
  background-color: #b42b2b;
}
